@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <main>
        <div class="col-md-9 about-section">
        <h1 class="text-center aboutgame">O grze</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus bibendum fringilla. Nulla facilisi. Nunc suscipit arcu mauris,
                egestas ultrices erat condimentum in. Fusce maximus porta risus vulputate imperdiet. Mauris id sapien a eros auctor ultricies at vel mi.
                Vivamus laoreet ipsum vitae magna tempor, nec auctor augue maximus. Mauris eu nulla rutrum, mollis augue in, maximus ipsum. Aenean sed nisi malesuada,
                congue odio nec, dictum turpis. Fusce pharetra aliquet eros. Suspendisse eget semper turpis. Fusce eget lobortis est.
                Donec bibendum ex sit amet ipsum condimentum finibus. Etiam leo neque, fringilla a lobortis sed, luctus vitae felis. Praesent blandit et nulla
                nec gravida. Pellentesque euismod, massa in rhoncus luctus, tellus leo aliquam justo, non tristique dolor orci non justo. Sed tincidunt,
                enim eu consectetur semper, dolor lorem posuere diam, nec sagittis sem purus non enim. Suspendisse potenti. Nulla ac tristique turpis,
                et ultricies lorem. Integer eget ultrices velit, elementum finibus tortor. Cras dui ante, ultricies eu vestibulum ut, condimentum quis lectus.
                Curabitur vel leo gravida tellus semper molestie eget interdum diam.
            </p>
        </div>

        <div class="col-md-3">
             <div class="log-section">
               <h3 class="text-center">Zaloguj się</h3>
                <form name="login">
                    <input class="log-name" type="email" value="" placeholder="e-mail" id="username" />
                    <input class="log-password" type="password" value="" placeholder="Hasło" id="password" />
                    <button class="btn-login">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-9 news-section">
            <h3 class="text-center news-header">Aktualności</h3>
               <p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus bibendum fringilla. Nulla facilisi. Nunc suscipit arcu mauris,
                   egestas ultrices erat condimentum in. Fusce maximus porta risus vulputate imperdiet. Mauris id sapien a eros auctor ultricies at vel mi.
                   Vivamus laoreet ipsum vitae magna tempor, nec auctor augue maximus. 
               </p>
        </div>
</main>
</div>
