@font-face
{
    font-family: 'menuFont';
    src: url('/fonts/vinque.regular.ttf') format("truetype");
}
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext);



/* - - - - - - - - - - - - - - - - - - - GENERAL - - - - - - - - - - - - - - -*/
body
{
    font-size: 62,5%;
    background-color: #1D1010;
 }

a, a:link, a:hover, a:active, a:visited
{
    text-decoration: none;
}

p
{
    font-family: 'Libre Baskerville', serif;
}

h1,
h2,
h3
{
   color: black;
}

/*- - - - - - - - - - - - - - - - - -  HEADER- - - - - - - - - - - - - - -  */
header
{
    -webkit-box-shadow: 8px 11px 50px 8px rgba(0,0,0,1);
    -moz-box-shadow: 8px 11px 50px 8px rgba(0,0,0,1);
    box-shadow: 8px 11px 50px 8px rgba(0,0,0,1);
}

    header > img
        {
            margin: auto;
        }

/*- - - - - - - - - - - - - - - - - -  NAVIGATION- - - - - - - - - - - - - - -  */
nav
{
    width: 100%;
  
    margin-top: 1em;
    margin-bottom: 1em;
}

    nav ul 
        {
            list-style: none;
        }

    nav a
        {
            color: white;
            display: block;
            font-size: 1.8em;
            padding: 0.7em;
        }

    nav a:hover
        {
            color: whitesmoke;
        }

    nav li
        {   
            font-family: 'menuFont';
            letter-spacing: 0.1em;
            font-size: 0.8em;
            border: 0.2em solid white;
            display: inline-block; 
            text-align: center;
            width: 20%;
            margin: 1.25%;
            border-radius: 0 40% 0 40%;
            -moz-border-radius: 0 40% 0 40%;
            -webkit-border-radius: 0 40% 0 40%;
            background: url(http://api.thumbr.it/whitenoise-361x370.png?background=420f0fff&noise=120612&density=74&opacity=70);
            -webkit-box-shadow: 0px 2px 34px 7px rgba(69,31,31,1);
            -moz-box-shadow: 0px 2px 34px 7px rgba(69,31,31,1);
            box-shadow: 0px 2px 34px 7px rgba(69,31,31,1);
        }

    nav li:hover
        {
            transform: scale(1.05);
        }

main p
{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5em; 
}

/*- - - - - - - - - - - - - - - - - -  MAIN ABOUT- - - - - - - - - - - - - - -  */
.about-section
{
    background-color: #263238;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border: 0.2em solid white;
}

    .aboutgame
        {
            font-size: 3em;
        }

/*- - - - - - - - - - - - - - - - - -  NEWS- - - - - - - - - - - - - - -  */
.news-section
{
    background-color: #263238;
    margin-top: 1em;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border: 0.2em solid white;
}

/*- - - - - - - - - - - - - - - - - -  LOG IN- - - - - - - - - - - - - - -  */
.log-section
{
    background-color: #90a4ae;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border: 0.2em solid white;
}

    .log-name
        {
            display: block;
            margin: 0.7em;
            margin-bottom: 1em;
            background-color: inherit;
            border: 0.1em solid black;
        }

    .log-password
        {
            display: block;
            margin: 0.7em;
            background-color: inherit;
            border: 0.1em solid black;
        }

    .btn-login
        {
            padding: 0.3em;
            margin-top: 1em;
            margin: 0.7em;
            background-color: inherit;
            border: 0.1em solid black;
        }
    
/*- - - - - - - - - - - - - - - - - -  FOOTER- - - - - - - - - - - - - - -  */
footer
{
    background-color: inherit;
    margin-top: 1em;
}

    footer > p
        {
            color: white;
            font-size: 1.5em;
            padding: 0.3em;
        }


/*- - - - - - - - - - - - - - - - - -  MEDIA Q- - - - - - - - - - - - - - -  */
@media only screen and (max-width: 768px) {

header
{
    display: none;
}
nav
{
}

nav li
    {
        display: block;
        width: 87%;
        border-radius: unset;
        font-size: 2vh;
        position: relative;
    }


}